# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
backend/venv/

# Banco de dados local
*.db
*.sqlite3

# Variáveis de ambiente
.env

# ==========================
# Frontend
# ==========================
frontend/node_modules/
frontend/dist/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Sistema
# ==========================
.DS_Store
Thumbs.db