# ==========================================
# GymFlow - Variáveis de Ambiente
# Copie este arquivo para ".env" e altere os valores conforme necessário.
# ==========================================

# Banco de Dados
DATABASE_URL=sqlite:///./gymflow.db

# Segurança
SECRET_KEY=sua_chave_secreta_aqui

# Algoritmo utilizado para geração do JWT
ALGORITHM=HS256

# Tempo de expiração do token (em minutos)
ACCESS_TOKEN_EXPIRE_MINUTES=60