/* Reset básico */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Página */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f7fa;
  color: #333;
}

/* Aplicação */

#root {
  min-height: 100vh;
}